.sidebar{
  float: left;
  width: 20%;
  background-color: mediumblue;
  border: 2px solid black;
  color: white;
  margin-right: 10px;
}

.pets{
  background-color: lightblue;
  font-family: sans-serif;
  float: left;
  border: 2px solid black;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.pets .dog{
  float: none;
  border: 2px solid black;
}

.dog ul{
  list-style-type: none;
}

.pets .dog div{
  display: inline-block;
  border: 2px solid black;
  padding: 10px 10px;
  text-align: left;
}

.cat {
  border: 2px solid black;
  margin-top: 20px;
}

/*.pets .cat{
  float: none;
  margin-top: 50%;
}*/

.pets .cat div{
  display: inline-block;
  /*padding: 10px 10px;*/
}

.cat ul{
  list-style-type: none;
}

.pets img {
  width: 300px;
  height: 300px;
}
