.pagetop{
  padding-top: 50px;
  position: relative;
  z-index: 0;

}

.navbar{
  position: fixed;
  z-index: 10;
  color: white;
}

.navbar ul{
  list-style-type: none;
  background-color: blue;
  border: 2px solid black;
  border-radius: 20px;
}

.navbar li{
  display: inline-block;
  padding: 10px;
  margin: 0;
}

.navbar li:hover{
  background-color: lightblue;
  border-radius: 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.pets{
  background-color: lightblue;
  font-family: sans-serif;
  float: left;
  border: 2px solid black;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 10px;
  border-radius: 20px;
}

.dog ul{
  list-style-type: none;
}

.pets .dog div{
  display: inline-block;
  border: 2px solid black;
  padding: 10px 10px;
  text-align: left;
  border-radius: 20px;
}

.cat {
  margin-top: 20px;
}

/*.pets .cat{
  float: none;
  margin-top: 50%;
}*/

.pets .cat div{
  display: inline-block;
  border: 2px solid black;
  padding: 10px 10px;
  text-align: left;
  border-radius: 20px;
}

.cat ul{
  list-style-type: none;
}

.pets img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

@media screen and (max-width: 800px) {
  body {
    background-color: red;
    color: white;
  }

  .pets img{
    max-width: 200px;
    max-height: 200px;
  }

}
